[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==2.8.6"
netaddr = "*"
#boto = "*"
#boto3 = "*"
#botocore = "*"
#docker = "*"
#dnspython = "*"
#openshift = "*"
#kubernetes-validate = "==1.13.0"
#PyYAML = "*"

[requires]
python_version = "3.8"
